@mixin fixed () {
  position: fixed;
  @include vendor-prefix(transform, translateZ(0));
}

@mixin vendor-prefix($name, $val...) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$val};
  }
}