@import 'functions';

$commonRowPaddingTop: 1.2em;
.dialog-wrapper {
  .overlay, .dialog {
    @include fixed();
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 98;
  }

  .dialog {
    text-align: center;
    z-index: 99;

    &.animated {
      -webkit-animation-duration: 0.5s;
      -moz-animation-duration: 0.5s;
      -ms-animation-duration: 0.5s;
      -o-animation-duration: 0.5s;
      animation-duration: 0.5s;
    }

    &.enable-close {
      .dialog-body {
        padding-top: 3em;
      }
    }

    .dialog-focus-trap {
      width: 0;
      height: 0;
      display: inline-block;
      vertical-align: middle;
    }

    .dialog-body {
      position: relative;
      display: inline-block;
      background-color: #ffffff;
      padding: 1em;
      margin: auto;
      vertical-align: middle;
      overflow: auto;
      max-width: 80%;
      max-height: 90%;
      @include vendor-prefix(border-radius, 2px);

      .close-dialog-corner-button {
        position: absolute;
        top: 1em;
        right: 1em;
      }

      .common-dialog {
        > div.buttons, > div.common-dialog-content-wrapper > div.common-dialog-content > div {
          display: none;
          padding-top: $commonRowPaddingTop;
        }

        > div.buttons {
          text-align: right;

          > button {
            margin: 0 0.3em;
          }

          &.shown {
            display: block;
          }
        }

        > div.common-dialog-content-wrapper > div.common-dialog-content > div {
          &.header {
            font-size: 1.3em;
            font-weight: bold;
            text-align: initial;
          }

          &.footer {
            font-weight: bold;
            text-align: right;
          }

          &.shown {
            display: block;
          }
        }
      }

      &.fixed-buttons {
        overflow: hidden;
        height: 100%;
        padding-left: 0;
        padding-right: 0;

        .common-dialog {
          position: relative;
          height: 100%;
          $commonFixedButtonsHeight: 2em;
          $commonFixedButtonsVerticalPadding: 20px;

          > div.common-dialog-content-wrapper {
            @include vendor-prefix('box-sizing', border-box);
            padding-bottom: $commonFixedButtonsHeight + $commonRowPaddingTop;
            height: 100%;

            > div.common-dialog-content {
              overflow: auto;
              padding-left: $commonFixedButtonsVerticalPadding;
              padding-right: $commonFixedButtonsVerticalPadding;
              max-width: 100%;
              max-height: 100%;
            }
          }

          > div.buttons {
            position: absolute;
            width: 100%;
            padding-left: $commonFixedButtonsVerticalPadding;
            padding-right: $commonFixedButtonsVerticalPadding;
            bottom: 0;
            height: $commonFixedButtonsHeight + $commonRowPaddingTop;
            @include vendor-prefix('box-sizing', border-box);
          }
        }
      }
    }
  }

  .for-vertical-align {
    height: 100% !important;
    width: 0 !important;
    vertical-align: middle !important;
    display: inline-block !important;
    float: none !important;
  }

  .clickable {
    cursor: pointer;
  }
}
