<!DOCTYPE html>
<html ng-app="Test">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="https://daneden.github.io/animate.css/animate.min.css"/>

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

    <!-- sp-api -->
    <!--<script src="../dist/sp-api.min.js"></script>-->
    <script src="../app.js"></script>
    <script src="../lib/js/commonDialog.srv.js"></script>
    <script src="../lib/js/dialog.srv.js"></script>

    <!-- app -->
    <script>
        var app = angular.module('Test', [
            'spDialog'
        ]);

        app.config(['DialogProvider', function (DialogProvider) {
            DialogProvider.defaults.classes = {
                show: 'fadeInLeft',
                hide: 'fadeOutRight'
            };
        }]);

        app.run(['$rootScope', 'Dialog', function ($rootScope, Dialog) {
            $rootScope.show = function () {
                Dialog.show({
                    bypass: true,
                    overrideCurrent: true,
                    template: Math.random().toString(),
                    classes: Math.random() > 0.5 ? {
                        show: 'zoomIn',
                        hide: 'zoomOut'
                    } : null
                });
            };

            $rootScope.hide = function () {
                Dialog.hide('bounceOut');
            };
        }])
    </script>

    <style>
        .dialog {
            background-color: red;
        }
    </style>
</head>
<body>
<button ng-click="$root.hide()">hide dialog</button>
<button ng-click="$root.show()">show dialog</button>
</body>
</html>
